@mixin fonts ($weights, $sizes, $lineHeights, $colors) {
    font-style: normal;
    font-weight: $weights;
    font-size: $sizes;
    line-height: $lineHeights;
    color: $colors;
}

@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @content;
}

@mixin grid($cols, $margin) {
    float: left;
    width: ((100%-(($cols - 1)*$margin))/$cols);
    margin-right: $margin;
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

@mixin grids($cols, $margin) {
    float: left;
    width: ((1110px-(($cols - 1)*$margin))/$cols);
    margin-right: $margin;
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}